.comment-area-block{
    border-top: 1px solid #eaeaea;
    margin:10px 0 5px 0;
    padding: 5px 0 0 0;
}
.comment-area h3{
	font-weight: normal;
	font-size: 18px;
	margin-top: 10px;
}
.comment-textarea{
	margin-top: 10px;
}
.comment-textarea a{
	text-decoration: none;
}
.comment-textarea textarea{
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
	outline: none;
	resize: none;
	border: 1px solid #d9d9d9;
}
.reply-button{
	color:#16ac3a;
	cursor: pointer;
	border: 1px solid #16ac3a;
	padding: 2px 4px;
	margin-left: 10px;
	line-height: 18px;
}
.submit-btn {
  color: #fff;
  background-color: #16ac3a;
  display: block;
  width: 270px;
  height: 44px;
  border-radius: 5px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  text-decoration: none !important;
  margin-top: 10px;
}
.submit-reply-btn {
  color: #fff !important;
  background-color: #16ac3a;
  display: block;
  width: 150px;
  height: 44px;
  border-radius: 5px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  text-decoration: none !important;
  margin-top: 10px;
}
.no-cmt{
	color:#16ac3a;
	font-size: 18px;
}
.cmt-list{
	padding: 0;
}
.cmt-list-li{
	list-style: none;
	clear: both;
}
.head-img{
	float: left;
}
.content{
	float: left;
}
.f-float-left{
	float: left;
}
.f-float-right{
	float: right;
}
.f-clear{

}
.g-col-1{
	width: 5%;
}
.g-col-18{
	width: 90%;
}

.comment-name{
	color: #16ac3a;
	font-size: 15px;
	vertical-align:top;
}
.comment-time{
	display: inline-block;
	color: gray;
	font-size: 12px;
	margin-left: 5px;
}
.parent-comment{
	margin: 15px 0;
	line-height: 150%;
}
img{
	width: 60px;
	height :60px;
}
.cmt-list-reply-father{
	float: left;
	border-top: 1px dashed #DBDBDB;
	width: 100%;
}
.cmt-list-reply-child{
	margin-left: 60px;
}
.reply-content{
	margin: 4px 0;
	line-height: 150%;
}
.cmt-list-reply-all{
    display: none;
    float: left;
}